.container00 {
  &.container01{
    background-image: url(../../images/image-topo.png);
    background-position: top;
  }
  &.container02{
    background-image: url(../../images/fundo-azul1.jpg) ;
  }
  &.container03{
    background-image: url(../../images/image-carrousel02.jpg) ;
    background-position: top;
  }
  &.container04{
    background-image: url(.) ;
  }
}

.titlePadding {
  padding-top: 200px;
  
}

.shortTitle {
  width: 2000px;
  margin-bottom: -25px;
}
.segundoContainer {
  margin-top: 80px;
}
.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}
.btnAbraSConta{
  margin-top: 60px;
  margin-left: 210px;
}
@media(max-width: 750px){
  .titlePadding {
    padding-top: 120px;
  }

  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}

@media(max-width: 380px){
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}